// Variables

$ColorUno: #f9ed69;
$ColorDos: #b83b5e;
$ColorTres: #6a2c70;
$ColorCuatro: orange;



section{
   
    background: $ColorUno;
    h1{
        background: $ColorUno;

    }

    h2{
        background: $ColorDos;
    }

    p{
        background: $ColorTres;
    }
}

footer{

    p{
        background: $ColorUno;
    }

}